@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.main {
    max-width: 1300px;
    margin: 0 auto;

}
.name_1{
position: relative;
}
.name_2{
   position: absolute;
   top: 0px;
   left: 27%; 
   margin-bottom: 10px;
}
.menu{
    padding: 20px;
}
.photos {

    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.photo {
    width: auto;
    max-width: 280px;
    height: 400px;
    overflow: hidden;
    display: block; 
    margin: 10px auto;
}

.block {
    padding: 40px;
    overflow: hidden;
    width: 300px;
    margin: 20px;
    margin-bottom: 20px;
    border: 5px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.info {
    font-size: 25px;
    font-weight: bold;
    border-top: 5px solid black;
}

.header{
    z-index: 1;
    margin-bottom: 60px;
    background-color: white;
    position: sticky;
    top: 0px;
    padding: 20px;
    display: flex; 
    justify-content: space-around;
    width: auto;
    height: 70px;;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#searchInput{
    margin-left: 20px;
    width: 380px;
    height: 40px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.32) ;
    padding: 0 5px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.search_btn{
    background-color: blue;
    border-radius: 5px;
    border: none;
    color: white;
    height: 42px;
    width: 60px ;
    margin-left: 20px;
    font-weight: 550;
    cursor: pointer;
}
.reset_btn{
    background-color: blue;
    border-radius: 5px;
    border: none;
    color: white;
    height: 42px;
    width: 60px ;
    margin-left: 20px;
    font-weight: 550;
    cursor: pointer;
}

.search_filter{
    text-align: center;
    background-color: blue;
    border-radius: 5px;
    border: none;
    color: white;
    height: 42px;
    width: 70px ;
    margin-left: 20px;
    font-weight: 550;
    cursor: pointer;
}
option{
    font-size: 13px;
    font-weight: 600;
    color: black;
    background-color: white;
}
.filter_menu{
    display: none;
    padding: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.32) ;
    border-radius: 5px;
    right: 283px;
    top: 68px;
    position: absolute;
    background-color: white;
    

}   

.header:hover .filter_menu {
    display: block;
}

.search_btn:active{
    box-shadow:  0px 0px 5px 2px rgba(0,0,0,0.32) ;
}

.search_filter:active{
    box-shadow:  0px 0px 5px 2px rgba(0,0,0,0.32) ;
}

.gender{
    text-transform: capitalize
};
